body {
    background-color: #F1F1F1;
    header {
        margin-left: 137px;
        margin-top: 21px;
        display: flex;
        justify-content: first baseline;
        ul {
            display: flex;
            justify-content: first baseline;
            a {
                color: #000;
                font-family: Roboto;
                font-size: 11px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-right: 35px;
            }
        }
    }
    h1 {
        margin-top: 42px;
        margin-bottom: 27px;
        margin-left: 137px;
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .d1 {
        display: inline-block;
        height: 186px;
        .p2 {
            margin-left: 138px;
            margin-top: 27px;
            margin-right: 40px;
            display: inline-block;
        
        }
        .p3 {
            margin-top: 27px;
            margin-right: 40px;
            display: inline-block;
        }
    }
    .mydiv2 {
        margin-left: 138px;
        width: 361px;
        height: 171px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        color: #8A8787;
        background-color: #FFFFFF;
        padding: 50px 30px;
        vertical-align: top;
        margin-right: 40px;
        display: inline-block;
        position: relative;
    }
    .mydiv3 {
        width: 361px;
        height: 171px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        color: #8A8787;
        background-color: #FFFFFF;
        padding: 50px 30px;
        vertical-align: top;
        margin-right: 40px;
        display: inline-block;
        position: relative;
    }
    .myp1 {
        margin-bottom: 15px;
    }
    
    .ellipse {
        margin-top: 40px;
        margin-left: 40px;
        vertical-align: top;
    }
    
    .myp2 {
        display: inline-block;
        margin-top: 10px;
        vertical-align: top;
    }
            h4 {
                position: absolute;
                top: -80%;
                left: 35%;
                transform: translate(-50%, -50%);
                color: #FFF;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            p {
                position: relative;
                top: 45%;
                left: 10%;
                color: #8A8787;
                font-family: Roboto;
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            h6 {
                color: #8A8787;
                font-family: Roboto;
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .section2 {
            margin-bottom: 36px;
        }
        
        h1 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            margin-bottom: 27px;
            margin-top: 50px;
        }
        
        
        .leftdiv {
            margin-left: 138px;
            display: inline-block;
            margin-right: 45px;
            width: 758px;
            vertical-align: top;
        }
        
        .div1 {
            display: inline-block;
            margin-bottom: 42px;
            position: relative;
        }
        
        h2 {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: #FFFFFF;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .p5 {
            margin-bottom: 42px;
            width: 100%;
        }
        
        .p6 {
            width: 100%;
        }
        
        .rightdiv {
            display: inline-block;
            vertical-align: top;
            width: 362px;
        }
        
        .img {
            margin-bottom: 98px;
        }
        
        .img1 {
            margin-bottom: 103px;
            width: 100%;
        }
        
        .img2 {
            width: 100%;
        }

        footer {
            height: 201px;
            background-color: #243043;
            width: 100%;
            display: flex;
            justify-content: space-around;
            .footerdiv{
                margin-top: 59px;
            }
            .mya {
                margin-bottom: 14px;
                color: #818687;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        h5 {
            margin-top: 59px;
            color: #FFF;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .logo {
            margin-top: 58px;
            width: 38px;
            height: 40px;
        }
        